.texto__secundario {
    font-size: 20pt;
}

.texto_principal {
    color:#FF7596;
    font-size: 200px;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.menu {
    position: sticky;
    top: 0px;
  }

.fondo__footer {
    background: rgb(255,117,150);
background: linear-gradient(90deg, rgba(255,117,150,1) 0%, rgba(131,201,187,1) 48%, rgba(0,181,255,1) 99%);
}

.icono__footer {
    background-color: #FFFFFF;
}

.boton__nav { background-color: rgb(255,117,150);
    background: linear-gradient(90deg, rgba(255,117,150,1) 0%, rgba(131,201,187,1) 48%, rgba(0,181,255,1) 99%);


}
@media screen and (max-width: 300px) {
    .texto_principal{
        font-size: 60px;
        
    }
    }
.tipografia__blanca { 
    color: #FFFFFF;
}


.margen__noticias {
    margin-top:  10px;}




.texto_japones {
    color:#ffffff;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 20pt;
    }    

.background2 { background-color: rgb(255,117,150);
    background: linear-gradient(90deg, rgba(255,117,150,1) 0%, rgba(131,201,187,1) 48%, rgba(0,181,255,1) 99%);}

.clima { color: rgba(131,201,187,1)
}






form {
    font-family:Ubuntu-Bold_;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color:#5f6883;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 200px;
    border-radius: 5px;  
    
}


.field {
    margin: 5px;
    padding: 10px; 
    border-color: #FF7596;
    outline-color: #FF7596;
    border-style: solid;
    border: radius 50px;
    width: 250px;

}
.field__botones{
    margin: 5px;
    width: 20px;
    height: 20px;   
}


.field2 {
    margin: 5px;
    
    border-color: #FF7596;
    outline-color: #FF7596;
    border-style: solid;
    border: radius 50px;
    width: 300px;
    height: 300px;
}

.ilustracion {
 size: 150px;


}

